fn main() {
    aoc21::simple("day%DAY%", part1, part2);
}

type Input = Vec<String>;
type Output = isize;

fn part1(inp: &Input) -> Output {
    0
}

fn part2(_inp: &Input) -> Output {
    0
}

#[allow(dead_code)]
const TEST_INPUT: &str = "%TESTINPUT%";

aoc21::simple_test_part1!(TEST_INPUT, 0);
aoc21::simple_test_part2!(TEST_INPUT, 0);
